@use '../../main-styles.scss' as mainStyle;
.top-bar {
    display: flex;
    width: 100vw;
    height: 10vh;
    background: linear-gradient(75deg, rgb(214,180,247), rgb(173,203,231));
    justify-content: center;
    align-items: center;

    h1 {
        font-family: Lato;
        font-size: 18px;
        letter-spacing: 3px;
        font-weight: 900;
        color: mainStyle.$dark;
    }
}

.total-budget-section {
    display: flex;
    height: 30vh;
    width: 100vw;
    background: mainStyle.$dark;
    justify-content: center;
    align-items: center;
    
    h2 {
        font-family: Lato;
        font-weight: 300;
        font-size: 80px;
        color: white;

        &.green {
            color: lighten($color: mainStyle.$green, $amount: 12%);
        }

        &.red {
            color: lighten($color: mainStyle.$red, $amount: 12%);
        }
    }
}

.add-item-section {
    display: flex;
    justify-content: center;
    align-items: center;
    .add-item-container {
        width: 618px;
    }
}